.slider .slides {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.indicators {
  z-index: 2;
}

.slider .indicators {
  bottom: 1vw;
}

.slider .indicators .indicator-item.active {
  background-color: red;
  /* bottom: 1vw; */
}

.body {
  background-color: #1e1e1e;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.slider .slides li .caption {
  margin-left: -20vw;
  width: 100%;
}

.caption {
  margin-top: 10vw;
}

.center {
  position: relative;
  position: absolute;
  top: -10vw;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 1000px) {
  .space {
    flex-direction: column;
    margin-left: 10vw;
  }
}

.firstleftspace {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.firstleft {
  width: 50%;
  display: flex;
}

.firstright {
  display: flex;
  width: 20%;
  margin-left: -20vw;
}

@media (max-width: 1000px) {
  .firstright {
    position: absolute;
    top: -7vh;
    margin-left: 45vw;
    width: 150%;
  }
}

.공간대여 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  margin-bottom: 3vw;
  margin-top: -3vw;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 248, 240, 0) 0.01%,
    rgba(255, 255, 255, 0.4) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gnghouse {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  /* identical to box height */

  color: #ffffff;
}

.gnghouseintro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  /* or 300% */

  color: #ffffff;
}

.공간연출 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  margin-top: 10vw;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 248, 240, 0) 0.01%,
    rgba(255, 255, 255, 0.4) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
